Repository fullstacktf/recetas-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Danielmagox, @izm20, @PanchoMen, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

ADD router
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

ADD lint
  .eslintignore
  .eslintrc.json
  .prettierrc
  package-lock.json
  package.json
  src/App.tsx
  src/reportWebVitals.ts
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

FIX workflow
  .github/workflows/linters-tests.yml
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

FIX dist to build folder
  Dockerfile
Owners: @Danielmagox, @izm20, @PanchoMen

FIX eslint
  .eslintrc.json
  .prettierrc
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

FIX linter error
  src/App.test.tsx
  src/index.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD @emotion/react
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

ADD file loader
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

ADD header component
  public/index.html
  src/App.tsx
  src/Components/Header/Header.tsx
  src/Components/Header/Icon.tsx
  src/Components/Header/Icons.tsx
  src/Components/Header/SearchInput.tsx
  src/Components/Header/assets/account_circle-24px.svg
  src/Components/Header/assets/add_circle_outline-24px.svg
  src/Components/Header/assets/bookmark-24px.svg
  src/Components/Header/assets/chat-24px.svg
  src/Components/Header/assets/home-24px.svg
  src/Components/Header/assets/notifications-24px.svg
  src/Components/Header/assets/search.svg
  src/Pages/Home.tsx
  src/Pages/Post.tsx
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

ADD style
  src/App.tsx
  src/Components/Header/Header.tsx
  src/Components/Header/SearchInput.tsx
  src/Pages/Search.tsx
Owners: @raulanatol

ADD postPreview component
  src/App.tsx
  src/Components/PostPreview/PostPreview.tsx
  src/Components/PostPreview/assets/bookmark-24px.svg
  src/Components/PostPreview/assets/bookmark_border-24px.svg
  src/Components/PostPreview/assets/comment-24px.svg
  src/Components/PostPreview/assets/favorite-24px.svg
  src/Components/PostPreview/assets/favorite_border-24px.svg
  src/Components/PostPreview/assets/macarrones-foto-principal.jpg
Owners: @raulanatol, @Danielmagox, @izm20, @PanchoMen

ADD Header test
  src/Components/Header/Header.tsx
  src/Components/Header/Icons.tsx
  src/Components/Header/SearchInput.tsx
  src/Components/Header/__test__/Header.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD icons test
  src/Components/Header/__test__/Icons.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: added Poppins Font of Google Fonts
  src/css/fonts.css
Owners: @ManzDev

ADD: Created Input component
  src/components/login/utils/Input.tsx
Owners: @raulanatol

ADD: Created InputTag component
  src/components/login/utils/InputTag.tsx
Owners: @raulanatol

ADD: created Input component Test
  src/components/login/__test__/Input.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: created Button component
  src/components/login/utils/Button.tsx
Owners: @raulanatol

ADD: Created PasswordRestore component
  src/components/login/utils/PasswordRestore.tsx
Owners: @raulanatol

ADD: Created Separator Component
  src/components/login/utils/Separator.tsx
Owners: @raulanatol

ADD: Created Form Component
  src/components/login/utils/Form.tsx
Owners: @raulanatol

ADD: Created LoginForm component
  src/components/login/LoginForm.tsx
Owners: @raulanatol

ADD: Created RegisterForm component
  src/components/login/RegisterForm.tsx
Owners: @raulanatol

ADD: Defined input validation functions
  src/components/login/utils/validations.ts
Owners: @Danielmagox, @izm20, @PanchoMen

FIX: Disable test
  src/App.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: Changed APP
  src/App.tsx
Owners: @raulanatol

FIX input validation error
  src/components/login/utils/Input.tsx
Owners: @raulanatol

ADD SearchinputTest
  src/Components/Header/__test__/SearchInput.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD PostPreview test
  src/Components/PostPreview/__test__/PostPreview.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD photo as props
  src/App.tsx
  src/Components/PostPreview/PostPreview.tsx
Owners: @raulanatol

ADD fonts
  src/css/fonts.css
Owners: @ManzDev

ADD storybook
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/Components/Header/Header.tsx
  src/Components/Header/__stories__/Header.stories.tsx
  src/Components/Header/__test__/Header.test.tsx
  src/Components/Header/__test__/SearchInput.test.tsx
Owners: @raulanatol, @ManzDev, @Danielmagox, @izm20, @PanchoMen, @DanielRamosAcosta, @yodralopez

FIX folders names
  src/App.tsx
  src/components/header/Header.tsx
  src/components/header/Icon.tsx
  src/components/header/Icons.tsx
  src/components/header/SearchInput.tsx
  src/components/header/__stories__/Header.stories.tsx
  src/components/header/__test__/Header.test.tsx
  src/components/header/__test__/Icons.test.tsx
  src/components/header/__test__/SearchInput.test.tsx
  src/components/header/assets/account_circle-24px.svg
  src/components/header/assets/add_circle_outline-24px.svg
  src/components/header/assets/bookmark-24px.svg
  src/components/header/assets/chat-24px.svg
  src/components/header/assets/home-24px.svg
  src/components/header/assets/notifications-24px.svg
  src/components/header/assets/search.svg
  src/components/postPreview/PostPreview.tsx
  src/components/postPreview/__stories__/PostPreview.stories.tsx
  src/components/postPreview/__test__/PostPreview.test.tsx
  src/components/postPreview/assets/bookmark-24px.svg
  src/components/postPreview/assets/bookmark_border-24px.svg
  src/components/postPreview/assets/comment-24px.svg
  src/components/postPreview/assets/favorite-24px.svg
  src/components/postPreview/assets/favorite_border-24px.svg
  src/components/postPreview/assets/macarrones-foto-principal.jpg
  src/pages/Home.tsx
  src/pages/Post.tsx
  src/pages/Search.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez, @Danielmagox, @izm20, @PanchoMen

ADD storybooks
  src/components/login/__stories__/LoginForm.stories.tsx
  src/components/login/__stories__/RegisterForm.stories.tsx
  src/components/postPreview/PostPreview.tsx
  src/components/postPreview/__stories__/PostPreview.stories.tsx
Owners: @raulanatol

ADD: Changed folders structure
  src/components/login/LoginForm.tsx
  src/components/login/RegisterForm.tsx
  src/components/login/subcomponents/Button.tsx
  src/components/login/subcomponents/Form.tsx
  src/components/login/subcomponents/Input.tsx
  src/components/login/subcomponents/InputTag.tsx
  src/components/login/subcomponents/PasswordRestore.tsx
  src/components/login/subcomponents/Separator.tsx
Owners: @raulanatol

FIX: Fixed tests for Input
  src/components/login/__test__/Input.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: Implemented validation fucntions for inputs
  src/components/login/utils/validations.ts
Owners: @Danielmagox, @izm20, @PanchoMen

ADD new test
  src/components/header/Icons.tsx
  src/components/header/__stories__/Icons.stories.tsx
  src/components/header/__stories__/SearchInput.stories.tsx
  src/components/header/__test__/Header.test.tsx
  src/components/login/__test__/Input.test.tsx
  src/components/postPreview/PostPreview.tsx
  src/components/postPreview/__test__/PostPreview.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: Added Login page to app
  src/App.tsx
Owners: @raulanatol

ADD: Create Login page
  src/components/login/LoginForm.tsx
  src/pages/Login.tsx
Owners: @raulanatol

.github/CODEOWNERS:

* @Danielmagox @izm20 @PanchoMen
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez
