Repository fullstacktf/recetas-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Danielmagox, @izm20, @PanchoMen, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

.github/CODEOWNERS:

* @Danielmagox @izm20 @PanchoMen
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez

ADD size to icons like comment
  src/components/timelinePost/subcomponents/PostFooter.tsx
Owners: @raulanatol

ADd connection with the back for show the post
  src/components/showPost/ShowPost.tsx
  src/components/showPost/__stories__/ShowPost.stories.tsx
  src/components/showPost/assets/Screenshot from 2020-12-01 19-35-49.png
  src/components/showPost/assets/patatas-con-alioli-y-picada-de-ajo-y-perejil-escalivada-picante-foto-principal.jpg
Owners: @raulanatol, @Danielmagox, @izm20, @PanchoMen

ADD photos
  src/components/showPost/ShowPost.tsx
  src/components/timelinePost/subcomponents/PostHeader.tsx
Owners: @raulanatol

ADD like handle
  src/api.ts
  src/components/showPost/ShowPost.tsx
  src/components/showPost/__stories__/ShowPost.stories.tsx
  src/components/timelinePost/subcomponents/PostFooter.tsx
  src/subcomponents/Icon/Icon.tsx
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

ADD saved and like to preview
  src/api.ts
  src/components/postPreview/PostPreview.tsx
  src/components/postPreview/__stories__/PostPreview.stories.tsx
  src/components/timelinePost/subcomponents/PostFooter.tsx
  src/subcomponents/Icon/Icon.tsx
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

ADD saved post to ShowPost
  src/api.ts
  src/components/showPost/ShowPost.tsx
  src/components/timelinePost/subcomponents/PostFooter.tsx
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

ADD user mock
  src/user.ts
Owners: @Danielmagox, @izm20, @PanchoMen

ADD like and save check isActive
  src/components/showPost/ShowPost.tsx
  src/components/timelinePost/subcomponents/PostFooter.tsx
  src/pages/Post.tsx
  src/subcomponents/Icon/Icon.tsx
  src/subcomponents/PostGrid.tsx
Owners: @raulanatol

FIX headbar icons links
  src/App.tsx
  src/components/header/subcomponents/Icons.tsx
  src/subcomponents/Icon/Icon.tsx
Owners: @raulanatol

FIX upload image
  src/api.ts
Owners: @Danielmagox, @izm20, @PanchoMen

REMOVE console log
  src/api.ts
Owners: @Danielmagox, @izm20, @PanchoMen

FIX profile image
  src/components/showPost/ShowPost.tsx
Owners: @raulanatol

ADD: Login and Register
  src/App.tsx
  src/components/header/Header.tsx
  src/components/login/LoginForm.tsx
  src/components/login/RegisterForm.tsx
  src/components/login/subcomponents/Form.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
  src/subcomponents/Button.tsx
  src/utils/validations.ts
Owners: @raulanatol, @Danielmagox, @izm20, @PanchoMen

ADD: New post view
  src/components/header/subcomponents/Icons.tsx
  src/components/postMaker/PostMaker.tsx
  src/pages/NewPost.tsx
Owners: @raulanatol

FIX: Changed backend petition function
  src/api.ts
Owners: @Danielmagox, @izm20, @PanchoMen

ADD: Added login and register
  src/pages/Login.tsx
  src/pages/Register.tsx
Owners: @raulanatol

ADD: Added Home
  src/components/postPreview/PostPreview.tsx
  src/components/postPreview/__stories__/PostPreview.stories.tsx
  src/pages/Home.tsx
  src/subcomponents/PostGrid.tsx
Owners: @raulanatol

ADD: create Post
  src/components/postMaker/PostMaker.tsx
  src/components/showPost/ShowPost.tsx
  src/components/timelinePost/TimelinePost.tsx
  src/components/timelinePost/__stories__/TimelinePost.stories.tsx
  src/components/timelinePost/subcomponents/PostContent.tsx
  src/pages/Post.tsx
Owners: @raulanatol

ADD: profile
  package-lock.json
  src/App.tsx
  src/api.ts
  src/components/header/subcomponents/Icons.tsx
  src/components/profileInfoBar/ProfileInfoBar.tsx
  src/pages/Profile.tsx
  src/pages/__stories__/Profile.stories.tsx
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

0.2.0
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

ADD: Fix register
  src/api.ts
  src/pages/Register.tsx
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

0.3.0
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

FIX: checkImageUrl function
  src/api.ts
Owners: @Danielmagox, @izm20, @PanchoMen

FIX: Profile
  src/api.ts
  src/components/profileInfoBar/ProfileInfoBar.tsx
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

0.4.0
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

ADD: added redirects
  src/App.tsx
  src/components/postPreview/PostPreview.tsx
  src/components/showPost/ShowPost.tsx
  src/components/timelinePost/TimelinePost.tsx
  src/components/timelinePost/subcomponents/PostHeader.tsx
Owners: @raulanatol

0.5.0
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

ADD: Saved page
  src/App.tsx
  src/components/header/subcomponents/Icons.tsx
  src/pages/SavedPosts.tsx
Owners: @raulanatol

0.6.0
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

ADD save post remember and remove console log
  src/api.ts
  src/components/postPreview/PostPreview.tsx
  src/components/showPost/ShowPost.tsx
  src/user.ts
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

0.7.0
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

FIX: Changed post saved
  src/pages/SavedPosts.tsx
Owners: @raulanatol

ADD: Loading
  src/components/showPost/ShowPost.tsx
Owners: @raulanatol

FIX: Fixed some problems
  package-lock.json
  package.json
  src/App.tsx
  src/api.ts
  src/components/header/subcomponents/Icon.tsx
  src/components/postPreview/PostPreview.tsx
  src/components/profileInfoBar/ProfileInfoBar.tsx
  src/components/profileInfoBar/__stories__/ProfileInfoBar.stories.tsx
  src/components/showPost/ShowPost.tsx
  src/components/timelinePost/TimelinePost.tsx
  src/components/timelinePost/subcomponents/PostContent.tsx
  src/components/timelinePost/subcomponents/PostFooter.tsx
  src/pages/Home.tsx
  src/pages/Post.tsx
  src/pages/Profile.tsx
  src/pages/SavedPosts.tsx
  src/subcomponents/Button.tsx
  src/subcomponents/Icon/Icon.tsx
  src/subcomponents/PostGrid.tsx
  src/utils/generateKey.ts
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

0.7.0
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

0.8.0
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen
