Repository fullstacktf/recetas-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Danielmagox, @izm20, @PanchoMen, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

.github/CODEOWNERS:

* @Danielmagox @izm20 @PanchoMen
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez

ADD: Refactor for button component
  src/components/login/LoginForm.tsx
  src/components/login/RegisterForm.tsx
  src/components/login/subcomponents/Button.tsx
Owners: @raulanatol

ADD: Moved folder of utils
  src/components/login/subcomponents/Input.tsx
  src/utils/validations.ts
Owners: @raulanatol, @Danielmagox, @izm20, @PanchoMen

FIX: Fixed Icons test
  src/components/header/__test__/Icons.test.tsx
  src/components/header/subcomponents/Icons.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

FIX: Fixed Header test
  src/components/header/Header.tsx
  src/components/header/__test__/Header.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: initialize PostTimeline component
  src/components/postTimeline/postTimeline.tsx
Owners: @raulanatol

FIX route header
  src/components/header/__test__/Header.test.tsx
  src/components/header/__test__/Icons.test.tsx
  src/components/header/subcomponents/Icons.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

FIX test icon
  src/components/header/__test__/Icons.test.tsx
  src/components/header/subcomponents/Icon.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

Revision Yodra 👩
  src/subcomponents/Statistic.tsx
  src/subcomponents/__stories__/Statistic.stories.tsx
Owners: @raulanatol

ADD: Created Statistic component
  src/subcomponents/Statistic.tsx
  src/subcomponents/__stories__/Statistic.stories.tsx
Owners: @raulanatol

FIX: Deleted comments
  src/subcomponents/Statistic.tsx
Owners: @raulanatol

ADD button onclick
  src/components/postMaker/MultipleInput.tsx
Owners: @raulanatol

ADD: Changed ProfileInfoBar with new Statistic component
  src/components/profileInfoBar/ProfileInfoBar.tsx
  src/components/profileInfoBar/subcomponents/ Statistic.tsx
  src/subcomponents/__stories__/Statistic.stories.tsx
Owners: @raulanatol

FIX: Delete Stories for old Statistic
  src/components/profileInfoBar/__stories__/Statistic.stories.tsx
Owners: @raulanatol

ADD dynamic inputs
  src/components/postMaker/DynamicInputs.tsx
  src/components/postMaker/MultipleInput.tsx
  src/components/postMaker/PostMaker.tsx
Owners: @raulanatol

FIX: postPreview Refactor
  src/components/header/subcomponents/Icon.tsx
  src/components/header/subcomponents/Icons.tsx
  src/components/postPreview/PostPreview.tsx
  src/subcomponents/Icon.tsx
  src/subcomponents/Statistic.tsx
  src/subcomponents/__stories__/Statistic.stories.tsx
  src/utils/statisticFormater.ts
Owners: @raulanatol, @Danielmagox, @izm20, @PanchoMen

ADD: Home Page
  src/App.tsx
  src/components/postTimeline/postTimeline.tsx
  src/pages/Home.tsx
  src/pages/__stories__/Home.stories.tsx
Owners: @raulanatol

ADD callbacks for PostMaker
  package-lock.json
  package.json
  src/components/postMaker/DescriptionInput.tsx
  src/components/postMaker/DynamicInputs.tsx
  src/components/postMaker/ImageInput.tsx
  src/components/postMaker/InputWithIcon.tsx
  src/components/postMaker/MultipleInput.tsx
  src/components/postMaker/PostMaker.tsx
  src/components/postMaker/TitleInput.tsx
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

ADD remove inputs values
  src/components/postMaker/DynamicInputs.tsx
  src/components/postMaker/MultipleInput.tsx
  src/components/postMaker/PostMaker.tsx
Owners: @raulanatol

REMOVE button remove
  src/components/postMaker/PostMaker.tsx
Owners: @raulanatol

ADD call to api for savePost
  src/components/postMaker/PostMaker.tsx
Owners: @raulanatol

ADD savePost and upload image
  src/api.ts
  src/components/postMaker/PostMaker.tsx
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

FIX remove input for enter key
  src/components/postMaker/MultipleInput.tsx
  src/components/postMaker/PostMaker.tsx
Owners: @raulanatol

ADD generateKey
  src/utils/generateKey.ts
Owners: @Danielmagox, @izm20, @PanchoMen

ADD new test for PostMaker
  src/components/postMaker/__test__/PostMaker.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD api for connections with the backend
  src/api.ts
Owners: @Danielmagox, @izm20, @PanchoMen

ADD generateKey from utils
  src/components/postMaker/MultipleInput.tsx
Owners: @raulanatol

ADD checking input value
  src/components/postMaker/InputWithIcon.tsx
Owners: @raulanatol

ADD checking input values
  src/components/postMaker/PostMaker.tsx
Owners: @raulanatol

ADD font style to error message
  src/components/postMaker/InputWithIcon.tsx
Owners: @raulanatol

ADD: Icon refactor
  src/components/header/subcomponents/Icons.tsx
  src/subcomponents/Icon/Icon.tsx
  src/subcomponents/Icon/assets/bookmark-24px.svg
  src/subcomponents/Icon/assets/bookmark_border-24px.svg
  src/subcomponents/Icon/assets/favorite-24px.svg
  src/subcomponents/Icon/assets/favorite_border-24px.svg
  src/subcomponents/Icon/assets/launch_24dp.svg
  src/subcomponents/Icon/assets/share_24dp.svg
Owners: @raulanatol, @Danielmagox, @izm20, @PanchoMen

ADD: PostPreview Refactor
  src/components/postPreview/PostPreview.tsx
  src/components/postPreview/__test__/PostPreview.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: Added assets for timelinePost
  src/components/timelinePost/assets/bookmark-24px.svg
  src/components/timelinePost/assets/bookmark_border-24px.svg
  src/components/timelinePost/assets/comment-24px.svg
  src/components/timelinePost/assets/favorite-24px.svg
  src/components/timelinePost/assets/favorite_border-24px.svg
  src/components/timelinePost/assets/launch_24dp.svg
  src/components/timelinePost/assets/people-24px.svg
  src/components/timelinePost/assets/query_builder-24px.svg
  src/components/timelinePost/assets/share_24dp.svg
Owners: @Danielmagox, @izm20, @PanchoMen

ADD: Created Timeline Post Header
  src/components/timelinePost/subcomponents/PostHeader.tsx
Owners: @raulanatol

ADD: Created Timeline Post Footer
  src/components/timelinePost/subcomponents/PostFooter.tsx
Owners: @raulanatol

ADD: Created Timeline Post Content component
  src/components/timelinePost/subcomponents/PostContent.tsx
Owners: @raulanatol

ADD: Created Timeline Post Component
  src/components/timelinePost/TimelinePost.tsx
  src/components/timelinePost/__stories__/TimelinePost.stories.tsx
  src/subcomponents/__stories__/Statistic.stories.tsx
Owners: @raulanatol

ADD ShowPost
  src/App.tsx
  src/components/showPost/ShowImage.tsx
  src/components/showPost/ShowMultiple.tsx
  src/components/showPost/ShowPost.tsx
  src/components/showPost/ShowWithIcon.tsx
  src/components/showPost/__tests__/ShowPost.test.tsx
  src/components/showPost/assets/Screenshot from 2020-12-01 19-35-49.png
  src/components/showPost/assets/arrow_up-24px.svg
  src/components/showPost/assets/patatas-con-alioli-y-picada-de-ajo-y-perejil-escalivada-picante-foto-principal.jpg
  src/components/showPost/assets/people-24px.svg
  src/components/showPost/assets/schedule-24px.svg
  src/pages/Post.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez, @Danielmagox, @izm20, @PanchoMen

ADD stories for PostMaker
  src/App.tsx
  src/components/postMaker/DynamicInputs.tsx
  src/components/postMaker/ImageInput.tsx
  src/components/postMaker/InputWithIcon.tsx
  src/components/postMaker/__stories__/CollapseInput.stories.tsx
  src/components/postMaker/__stories__/DescriptionInput.stories.tsx
  src/components/postMaker/__stories__/DynamicInputs.stories.tsx
  src/components/postMaker/__stories__/ImageInput.stories.tsx
  src/components/postMaker/__stories__/InputWithIcon.stories.tsx
  src/components/postMaker/__stories__/MultipleInput.stories.tsx
  src/components/postMaker/__stories__/PostMaker.stories.tsx
  src/components/postMaker/__stories__/TitleInput.stories.tsx
Owners: @raulanatol

ADD stories
  src/components/showPost/ShowCollapse.tsx
  src/components/showPost/ShowPost.tsx
  src/components/showPost/__stories__/ShowImage.stories.tsx
  src/components/showPost/__stories__/ShowMultiple.stories.tsx
  src/components/showPost/__stories__/ShowPost.stories.tsx
  src/components/showPost/__stories__/ShowWithIcon.stories.tsx
Owners: @raulanatol

ADD get data to api
  src/api.ts
Owners: @Danielmagox, @izm20, @PanchoMen
