Repository fullstacktf/recetas-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Danielmagox, @izm20, @PanchoMen, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

ADD click add like
  src/components/postPreview/PostPreview.tsx
  src/components/postPreview/__test__/PostPreview.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: Changed folders structure
  src/components/header/subcomponents/Icon.tsx
  src/components/header/subcomponents/Icons.tsx
  src/components/header/subcomponents/SearchInput.tsx
Owners: @raulanatol

FIX: Fixed new folder structure imports
  src/components/header/Header.tsx
  src/components/header/__stories__/Header.stories.tsx
  src/components/header/__stories__/Icons.stories.tsx
  src/components/header/__stories__/SearchInput.stories.tsx
  src/components/header/__test__/Icons.test.tsx
  src/components/header/__test__/SearchInput.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: Created Login page
  package-lock.json
  src/App.tsx
  src/components/header/subcomponents/Brand.tsx
  src/components/login/LoginForm.tsx
  src/pages/Login.tsx
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

FIX: added background to separator lines
  src/components/login/subcomponents/Separator.tsx
Owners: @raulanatol

ADD test for saved icon
  src/components/postPreview/PostPreview.tsx
  src/components/postPreview/__test__/PostPreview.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: Added hover efect to brand
  src/components/header/subcomponents/Brand.tsx
Owners: @raulanatol

FIX: Fixed RegisterForm size
  src/components/login/RegisterForm.tsx
Owners: @raulanatol

ADD: Added type to button
  src/components/login/subcomponents/Button.tsx
Owners: @raulanatol

ADD: added onSubmit and goToRegister props to LoginForm
  src/components/login/LoginForm.tsx
Owners: @raulanatol

ADD: Added switch between LoginForm and RegisterForm
  src/App.tsx
  src/components/login/__stories__/LoginForm.stories.tsx
  src/components/login/__stories__/RegisterForm.stories.tsx
  src/pages/Login.tsx
Owners: @raulanatol

FIX router error
  src/components/header/Icons.tsx
  src/components/header/__test__/Header.test.tsx
  src/components/header/__test__/Icons.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

Install dropzone
  package-lock.json
  package.json
Owners: @Danielmagox, @izm20, @PanchoMen

ADD dropzone
  src/App.tsx
  src/components/postMaker/Dropzone.tsx
  src/components/postMaker/PostMaker.tsx
  src/components/postMaker/__test__/Input.test.tsx
  src/pages/PostMakerView.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: added type for getValidationFunctionByInputType
  src/components/login/utils/validations.ts
Owners: @Danielmagox, @izm20, @PanchoMen

ADD: Changed Brand to subcomponets folder
  src/subcomponents/Brand.tsx
Owners: @raulanatol

ADD: Deleted comments
  src/components/login/subcomponents/Input.tsx
Owners: @raulanatol

ADD: Created page for register
  src/pages/Register.tsx
Owners: @raulanatol

ADD: Created page for Login
  src/pages/Login.tsx
Owners: @raulanatol

ADD: Created layout for login and register pages
  src/layouts/LoginLayout.tsx
Owners: @raulanatol

ADD: create prop on Button with primary and secondary style
  src/components/login/subcomponents/Button.tsx
Owners: @raulanatol

ADD: Refactor of forms
  src/components/login/LoginForm.tsx
  src/components/login/RegisterForm.tsx
Owners: @raulanatol

ADD: Added login condition to render app pages
  src/App.tsx
Owners: @raulanatol

ADD a dropzone component
  src/components/postMaker/Dropzone.tsx
Owners: @raulanatol

ADD style to dropzone
  src/components/postMaker/Dropzone.tsx
  src/components/postMaker/ImageInput.tsx
  src/components/postMaker/PostMaker.tsx
  src/components/postMaker/__test__/PostMaker.test.tsx
  src/components/postMaker/assets/add_a_photo-24px.svg
  src/components/postMaker/assets/people-24px.svg
  src/components/postMaker/assets/query_builder-24px.svg
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez, @Danielmagox, @izm20, @PanchoMen

ADD imagePreview component
  src/components/postMaker/ImageInput.tsx
  src/components/postMaker/ImagePreview.tsx
Owners: @raulanatol

ADD title input component
  src/components/postMaker/ImageInput.tsx
  src/components/postMaker/PostMaker.tsx
  src/components/postMaker/TitleInput.tsx
  src/components/postMaker/__test__/PostMaker.test.tsx
Owners: @raulanatol, @DanielRamosAcosta, @yodralopez

ADD: Created component for login and register buttons
  src/components/header/subcomponents/LoginButton.tsx
Owners: @raulanatol

FIX: Fixed some style errors
  src/components/header/subcomponents/Icon.tsx
  src/components/header/subcomponents/Icons.tsx
  src/components/header/subcomponents/SearchInput.tsx
  src/layouts/LoginLayout.tsx
  src/subcomponents/Brand.tsx
Owners: @raulanatol

ADD: Added login state
  src/App.tsx
  src/components/header/Header.tsx
  src/components/header/__stories__/Header.stories.tsx
Owners: @raulanatol

FIX: Fixed visual error in small windows
  src/components/header/subcomponents/SearchInput.tsx
Owners: @raulanatol

ADD input with icon
  src/components/postMaker/InputWithIcon.tsx
  src/components/postMaker/PostMaker.tsx
Owners: @raulanatol

ADD collapse
  package-lock.json
  package.json
  src/components/postMaker/CollapseInput.tsx
  src/components/postMaker/assets/arrow_up-24px.svg
Owners: @Danielmagox, @izm20, @PanchoMen, @raulanatol

ADD description
  src/components/postMaker/DescriptionInput.tsx
Owners: @raulanatol

ADD MultipleInput
  src/components/postMaker/MultipleInput.tsx
  src/components/postMaker/PostMaker.tsx
Owners: @raulanatol

ADD: Added component for show profile statistics
  src/components/profileInfoBar/subcomponents/ Statistic.tsx
  src/utils/statisticFormater.ts
Owners: @raulanatol, @Danielmagox, @izm20, @PanchoMen

ADD: create StoryBook for Statistic Component
  src/components/profileInfoBar/__stories__/Statistic.stories.tsx
Owners: @raulanatol

ADD: Created component ProfileInfoBar
  src/components/profileInfoBar/ProfileInfoBar.tsx
  src/components/profileInfoBar/__stories__/ProfileInfoBar.stories.tsx
  src/subcomponents/Button.tsx
Owners: @raulanatol

ADD: Created component PostGrid for the post preview grid view
  src/subcomponents/PostGrid.tsx
Owners: @raulanatol

ADD: Crated Profile component for user profile page
  src/pages/Profile.tsx
  src/pages/__stories__/Profile.stories.tsx
Owners: @raulanatol

.github/CODEOWNERS:

* @Danielmagox @izm20 @PanchoMen
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez
